<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Copal Manager</title>
    <link rel="stylesheet" href="{% static 'copal_manager/styles.css' %}">
  </head>
  <body>
    <nav>
      <ul class="menu">
      <li><a href="{% url 'list-proprietaires' %}">Proprietaires</a></li>
      <li><a href="{% url 'create-proprietaire' %}">Creer Proprietaire</a></li>
      <li><a href="{% url 'list-contrats' %}">Contrats</a></li>
      <li><a href="{% url 'create-contrat' %}">Creer Contrat</a></li>
      <li><a href="{% url 'list-biens-immobiliers' %}">Biens Immo</a></li>
      <li><a href="{% url 'create-bien-immobilier' %}">Créer bien immo</a></li>

    </nav>
 <div class="block_content">
      {% block content %} {% endblock %}
 </div>
 
  </body>
</html>
